@media only screen and (max-width: 1920px)
{
	html body #wrapper{		
		max-width:90%;	
		}	
	
	#wrapper  footer{
		 position: relative !important;		 
	}
}

@media only screen and (max-width: 480px)
{
	
	html body #wrapper{		
		max-width:100%;		
		margin:0px;
		padding:0px;
		
	}
		html body #wrapper header{
			border:none;	
			margin:0px;
			padding:0px;
			
		}
			html body #wrapper header h1{
				text-align:center;
			}
			
			html body #wrapper header nav{
				float : none;	
			}
			
			html body #wrapper nav ul{
				padding:0;
				margin:0;
			}			
		
				html body #wrapper nav ul li{
					border-collapse: collapse;
					display:block;
					min-width:100%;
					text-align: center;
					margin-top:1%;
				}
	html body #wrapper section{
		margin:0;
			padding:0;
	}
	
	
		html body #wrapper section > header{
			display:none;
			margin:0;
			padding : 0;
		}	
		
		
		html body #wrapper>section>article{
			min-width:100%;
			border:0px solid black;
			border-radius:0px;
			border-bottom: 1px solid black; 
			margin:0;
			padding:0;
		}
			html body #wrapper>section>article>header{
				font-size:1.3em;
			}
		
			html body #wrapper>section>article.article-content{
				padding:0;
				margin:0;
			}
		
		#wrapper section:after{
			display:block;
			content:"";
			height:0;
			clear:both; 		
		}
	
	
	#wrapper  footer{
		 position: relative !important;		 
		 font-size:0.9em;
	}
	
}