html,body,div,p,a {
	margin:0px;
	padding:0px;
	zoom:1;	
}

	body{
		width:960px;
		margin:0 auto;
	}
	
		a{
			display:block;
			width:150px;
			text-align:center;
			border:1px solid green;	
			text-decoration:none;
			color:green;
		}
		
		a:hover{
			box-shadow:2px 2px 5px green;
		}
		
		a:active{
			box-shadow:none;
		}