@mixin 
clear{

	margin : 0px ;
	padding : 0px;
	
	&:after{
		content:"";
		display:block;
		height:0px;
		clear:both;
	}
}

@media only screen and (max-width: 1920px){ 

	html{
		@include clear;
		font-size:2em;
		body{
			@include clear;
			#wrapper{
				nav{
					
					ul{
						
						li{							
							margin-left:0%;
							a{
								padding:3px;
							}
							
						}
					}
				}			
			}
		}
	}
}

 @media only screen and (max-width: 830px){
	html{
		body{		
			#wrapper{
				min-width:90%;				
				nav{					
					ul{						
						li{							
							margin-left:0%;
							a{
								padding:1px;
								
							}
						}
					}
				}			
			
			}
		}
	}
} 



@media only screen and (max-width: 780px){ 

	html{
		@include clear;
		
		body{
			@include clear;
			#wrapper{	
				@include clear;
				min-width:99%;
				
				nav{
					
					ul{
						
						li{
							
							a{
								padding-left:0.6%;
								padding-right:0.6%;
								
							}
						}
					}
				}			
			}
		}
	}
}

@media only screen and (max-width: 480px){ 

	html{
		@include clear;		
		body{
			@include clear;
			
			#wrapper{	
				@include clear;
				min-width:99%;
				
				header{
					border:none;
					@include clear;
					padding-bottom:0.5%;
				}
				
				nav{		
					
					ul{
						
						min-width:100%;
						li{
							min-width:100%;
							text-align:center;	
							position:relative;
							a{
								padding:1% 5%;	
								font-size:1.2em;
								
							}
							
							ul{
								position:static;
							}
						}
					}
				}
				
				section{
					min-width:100%;
				}
				
				aside{
					.social, .news{
						display:none;
					}
				}
				
			}
		}
	}
}